{% extends "base.html" %}

{% block content %}

<div id="container">
    <div class="row">
        <div class="col"><a href="/country">Country info</a></div>
        <div class="col"><a href="/region">Region info</a></div>
        <div class="col"><a href="/continent">Continent info</a></div>
    </div>
    <div class="alert alert-info">
        Pick a country
    </div>
    <form action="/" method="POST">
        <div class="row">
            <div class="col">
                <select class="form-control" name="continent">
                    {% for o in options %}
                    <option value="{{o[0]}}">{{o[0]}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col">
                <select class="form-control" name="order">
                    
                    <option value="player">player</option>
                    <option value="school">School</option>
                    <option value="weight">Weight</option>
                    <option value="fortyyd">40-yard Dash Time</option>
                    <option value="vertical">Vertical</option>
                    <option value="benchreps">Bench Reps</option>
                    <option value="drafted">Team Drafted</option>
                    
                </select>
            </div>
            <div class="col">
                <input type="submit" class="btn btn-primary" value="Get Info!">
            </div>
        </div>
    </form>
</div>

{% endblock %}