{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron">
      <h1>NFL Combine Statistics</h1>      
      <p>Information on Indivdual NFL Prospects</p>
</div>
<div class="container">
    <div class="row">
        <div class="col"><a href="/country">Position Information</a></div>
        <div class="col"><a href="/region">Draft Round Information</a></div>
        <div class="col"><a href="/continent">Year of Draft Information</a></div>
    </div>
</div>

{% endblock %}